.menu-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.menu-toggle button {
  padding: 12px 25px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  background: #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.menu-toggle .active {
  background: #1b5e20;
  color: white;
}

.day-selector {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.day-selector button {
  margin: 5px;
  padding: 10px 18px;
  border: none;
  background: #c8e6c9;
  cursor: pointer;
  border-radius: 5px;
}

.active-day {
  background: #1b5e20 !important;
  color: white;
}
/* ================= WEEKLY MENU TABLE ================= */

.weekly-table-container {
  margin-top: 30px;
  padding: 10px;
  overflow-x: auto;
}

.weekly-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  font-size: 18px;
}

.weekly-table th,
.weekly-table td {
  border: 2px solid #1b5e20;
  padding: 16px;
  text-align: center;
}

.weekly-table th {
  background-color: #1b5e20;
  color: white;
  font-size: 20px;
}

.meal-name {
  background-color: #c8e6c9;
  font-weight: bold;
  font-size: 18px;
}

/* Alternate row color */
.weekly-table tr:nth-child(even) {
  background-color: #f1f8e9;
}

/* Hover effect */
.weekly-table tr:hover {
  background-color: #e8f5e9;
  transition: 0.3s;
}
